<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Youtube to Mp3</title>
</head>
<body>
    <header id="main_header">
        <div class="title">
            <span class="aural">Aural</span>
            <span>Youtube to Mp3</span>
        </div>
    </header>
    <img src="{{ url_for('static', filename='img/background.jpg') }}" alt="Background Image" id="main_background">
    
    <main>
        <div class="intro">
            <h1>Welcome to Aural’s Youtube to Mp3 converter</h1>
            <p>To convert a youtube video to an mp3 file simply paste the link below.</p>
        </div>
        <div class="input">
            <input type="text">
        </div>
        <div class="result">
            <div class="thumbnail">
                <img src="" alt="Thumbnail">
            </div>
            <div class="details">

            </div>
        </div>
    </main>
</body>
</html>